# Swap files.
.*.swp
.*.swo
*~

*.pyc
*.pyo
*.pyd
*.so
*.o
*.a
*.cpp
!timers.cpp
!unset_trace.cpp

# ignore benchmarking scripts
*_benchmarks.py
*.lprof
profile*.svg
# ignore annotated cython
*.html
# ignore pyenv
.python-version

build/
dist/
_skbuild
_line_profiler.c
line_profiler.egg-info/
MANIFEST
pypi-site-docs.zip
index.html
Makefile

.coverage
tests/coverage.xml
tests/htmlcov
wheelhouse
